{% extends 'main/base.html' %}
{% load static %}

{% block title %}
About-Project
{% endblock %}

{% block content %}
    <body class = "fade-in">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent" style = "align-content: center; z-index: 30">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
              <ul class="navbar-nav mx-md-auto">
                <li class="nav-item"  >
                  <a class="nav-link" href="{% url 'about' %}" >About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'history' %}">Our History</a>
                </li>
              </ul>
            </div>
        </div>
    </nav>

        <div class="container">
        <div class="row">
            <div class="col-md-12 text-center py-4">
                <h2 class="display-4">Story Time</h2>
                <br>
                <p class="lead">The city was once a bustling metropolis, home to millions of people and a hub of innovation and progress. However, as the years passed, greed, corruption, and environmental disasters took their toll. Resources became scarce, and the gap between the rich and poor grew wider. Eventually, a catastrophic event occurred that pushed the city over the edge. A series of explosions triggered by a malfunctioning nuclear power plant unleashed a wave of destruction that wiped out most of the city's infrastructure and population. Those who survived were forced to scavenge for resources in the ruins of the city, fighting for survival against mutated creatures and other survivors. The once-great city became a post-apocalyptic wasteland, a shadow of its former self.</p>
                <p class="lead">In this post-apocalyptic adventure game, you play as a survivor in a once-thriving city now reduced to ruins. The city is plagued by dangers such as mutated creatures, scarce resources, and hostile factions fighting for control. As you explore the city and scavenge for supplies, you will encounter other survivors with their own stories and motives. Your choices and actions will determine your fate and the fate of those around you. </p>
            </div>
        </div>
        </div>

        <br><br>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <style>
            .slider {
                width: 1200px;
                height: 800px;
                margin: 0 auto;
                position: relative;
                overflow: hidden;
            }

            .slider img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                z-index: -1;
                border-radius: 20px;
                transition: opacity 1s ease-in-out;
            }

            .slider img.active {
                opacity: 1;
                z-index: 1;
            }

            .controls {
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 2;
                display: flex;
                align-items: center;
            }

            .controls button {
                background-color: transparent;
                border: none;
                font-size: 30px;
                margin: 0 10px;
                cursor: pointer;
            }
            .slider img {
                width: 100%;
                height: auto;
            }

            .controls {
                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 2;
                display: flex;
                align-items: center;
            }

            .controls button {
                background-color: transparent;
                border: none;
                font-size: 30px;
                margin: 0 50px;
                cursor: pointer;
            }


        </style>
        <div class="slider">
            <img class="active"style = "width: 95%; height: 85%"  src="{% static "main/img/map.jpg" %}">
            <img src="{% static "main/img/st_menu2.png" %}">
            <img src="{% static "main/img/papi.png" %}">
            <img src="{% static "main/img/maison.png" %}">
            <img src="{% static "main/img/menu.png" %}">
            <img src="{% static "main/img/grotte1.png" %}">
            <img src="{% static "main/img/Screenshot 2023-03-05 at 21.27.45.png" %}">
            <img src="{% static "main/img/Screenshot 2023-03-06 at 19.06.35.png" %}">
            <img src="{% static "main/img/Screenshot 2023-03-05 at 21.30.00.png" %}">
            <img src="{% static "main/img/miniG.png" %}">
            <img src="{% static "main/img/miniG1.png" %}">
            <img src="{% static "main/img/miniG2.png" %}">
            <img src="{% static "main/img/miniG3.png" %}">
            <img src="{% static "main/img/miniG4.png" %}">
            <img src="{% static "main/img/foret.png" %}">
            <div class="controls">
                <button class="prev">&#10094;</button>
                <button class="next">&#10095;</button>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                var currentImg = 0;
                var images = $('.slider img');

                function changeImg() {
                    images.removeClass('active');
                    images.eq(currentImg).addClass('active');
                }

                $('.next').click(function() {
                    currentImg = (currentImg + 1) % images.length;
                    changeImg();
                });

                $('.prev').click(function() {
                    currentImg = (currentImg - 1 + images.length) % images.length;
                    changeImg();
                });
            });
        </script>

        <div class="container">
        <div class="row">
            <div class="col-md-12 text-center py-4">
                <h2 class="display-4">GamePlay</h2>
                <br>
                <p class="lead">In the game "Go On Another Town", there are currently six exciting levels to explore: city, metro, crypt, mountain, waterground, and forest. To complete the game, the player must explore all these levels to find numerous useful items that will help them win.
                At each level change, the player will face new challenges and will have to solve puzzles to progress. For example, they may be required to solve complex puzzles like the PuzzleBox, or play a rhythm game similar to Osu! to overcome obstacles.
                The player must also be prepared to face many dangers throughout their adventure, including strange creatures and deadly traps. To survive, they will have to collect different items. "Go On Another Town" offers a captivating and stimulating gameplay experience, where the player must demonstrate strategy, problem-solving skills, and courage to progress through the different levels.</p>
                If you're ready for an exciting adventure through different levels filled with challenges, mysteries, and dangers, download "Go On Another Town" now and become the hero of your own story!
        </div>
        </div>
        </div>
    </body>



{% endblock %}
