{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Download the lite version of the project
{% endblock %}

{% block css_additional %}
<style>
    .download-button {
        font-size: 24px;
        padding: 12px 24px;
        display: inline-block;
        opacity: 0;
        animation: fadeIn 1s ease-out forwards;
    }

    .pulsing-button {
        font-size: 80px;
        padding: 16px 32px;
        animation: pulse 1s infinite;
        text-decoration: none;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes pulse {
        0%, 100% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
    }
</style>
{% endblock %}

{% block content %}
    <body class="fade-in">
        <div class="container-md" style="height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <a class="pulsing-button mb-lg-5" style = "color: aliceblue" href="{% static 'main/documents/GoOnAnotherTown_Installpackage.zip' %}" download>Download</a>
            <br><br><br>
            <section class="download">
                <ul class="list-unstyled text-center">
                    <li><a class="downloadRap mb-3 download-button" href="{% static 'main/documents/G.O.A.T_Prog.pdf' %}" download>Specifications document</a></li>
                    <li><a class="downloadProj download-button" href="{% static 'main/documents/GOAT___Soutenance-1.pdf' %}" download>Download 1st project report</a></li>
                    <li><a class="downloadExtra download-button" href="{% static 'main/documents/GOAT___Soutenance_2.pdf' %}" download>Download 2nd project report</a></li>
                    <li><a class="downloadExtra download-button" href="{% static 'main/documents/GOAT___Soutenance_2.pdf' %}" download>Download Final project report</a></li>
                </ul>
            </section>
        </div>
    </body>
{% endblock %}
