{% extends 'main/base.html' %}

{% block title %}
    Liens Utilisees :
{% endblock %}

{% block content %}
    <body class="fade-in">
        <div class="container-md" style="height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
            <h1 style="color: white; margin-bottom: 1rem;">Moteur/jeu</h1>
            <ul style="padding: 0;">
                <li style="list-style: none;"><a style="text-decoration: none;" href="https://learn.microsoft.com/fr-fr/dotnet/csharp/">C# docs</a></li>
                <li style="list-style: none;"><a style="text-decoration: none;" href="https://learn.microsoft.com/fr-fr/dotnet/desktop/winforms/overview/?view=netdesktop-7.0">Windows Forms</a></li>
                <li style="list-style: none;"><a style="text-decoration: none;" href="https://www.raylib.com">Raylib</a></li>
            </ul>
            <h1 style="color: white; margin-top: 2rem; margin-bottom: 1rem;">Site Web</h1>
            <ul style="padding: 0;">
                <li style="list-style: none;"><a href="https://docs.djangoproject.com/en/4.1/search/?q=doc">Django docs</a></li>
                <li style="list-style: none;"><a href="https://www.w3schools.com/html/default.asp">HTML/CSS</a></li>
                <li style="list-style: none;"><a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/">BootStrap</a></li>
            </ul>
        </div>
    </body>

{% endblock %}
